<!--  
<form [formGroup]="formgroup" (ngSubmit)="submit(formgroup.value)">
    <div class="d-flex align-items-center mb-3 pb-1">
      <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
      <span class="h1 fw-bold mb-0">Logo</span>
    </div>

    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>

    <div class="form-outline mb-4">
      <input type="email" id="form2Example17" formControlName="name" class="form-control form-control-lg" />
      <label class="form-label" for="form2Example17">Email address</label>
    </div>

    <div class="form-outline mb-4">
      <input type="password" id="form2Example27" formControlName="password" class="form-control form-control-lg" />
      <label class="form-label" for="form2Example27">Password</label>
    </div>

    <div class="pt-1 mb-4">
      <button class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
    </div>
  </form>
   -->
   <div class="wrapper">
    <div class="logo">
        <img src="https://www.igaptechnologies.com/assets/slogo.png" alt="">
    </div>
    <div class="text-center mt-4 name" style="color: brown;" >
        iGAP TECHNOLOGIS
    </div>
    <form [formGroup]="formgroup" (ngSubmit)="submit(formgroup.value)" class="p-3 mt-3">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="Email" id="userName" formControlName="name" placeholder="Email">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password" id="pwd"formControlName="password" placeholder="Password">
        </div>
        <button type="submit" class="btn mt-3">Login</button>
    </form>
    <div class="text-center fs-6">
        <a routerLink="#">Forget password?</a> or <a routerLink="#">Sign up</a>
    </div>
</div>
  
  